{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ group.name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <div class="profile-header">
        <h1>{{ group.name }}</h1>
        <p>{{ group.description }}</p>
        <p><strong>Group admin</strong></p>
        <p>
            <p>
            <a href="{{ url_for('.user', username=group.admin.username) }}"> <img class="img-rounded profile-thumbnail" src="{{ group.admin.gravatar(size=40) }}">
            </a> {{ group.admin.name }}
            </p>
        </p>
    </div>
</div>

{{ wtf.quick_form(form) }}

<h3>Posts</h3>
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.group', id=group.id) }}
</div>
{% endif %}

{% endblock %}